.JoinUs {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    background-color: var(--A1-auxiliar);
    gap: 0.5rem;
}

.text-joinus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 30px;
    gap: 0.5rem;
    margin-left: 20px;
}

.text-joinus h1 {
    font-size: 2.5rem;
    font-family: "Archivo";
    font-weight: 400;
    padding: 10px;
}

.background-joinus1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 60px;
    padding: 0;
    background-color: var(--A2-auxiliar);
}

.background-joinus2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 10px;
    height: 60px;
    padding: 0;
    background-color: var(--A2-auxiliar);
}

.button-joinus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    background-color: var(--branding-B1);
    border-radius: 30px;
    border: 1px solid var(--A2-auxiliar);
    color: white;
    margin-top: 10px;
    font-family: "Archivo";
    font-weight: 400;
    font-size: 1.2rem;
    width: fit-content; 
}

.image-joinus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-joinus img {
    
    width: 100%;
    height: auto;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--auxiliar-A1);
    padding: 10px 0;
  }
  
  .marquee-track {
    display: flex;
    width: max-content;
    animation: scroll 45s linear infinite;
  }
  
  .marquee-content {
    display: flex;
  }
  
  .marquee-content span {
    font-size: 4rem;
    font-family: "Archivo";
    font-weight: 400;
    white-space: nowrap;
    padding-right: 1.5rem;
    color: black;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

.filter-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--branding-C1);
    gap: 2rem;
}
  
  .search-bar-joinus {
    display: flex;
    width:100%;
    max-width: auto;
    border: 1.5px solid #b5cd30;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .search-bar-joinus input {
    flex: 1;
    padding: 18px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
  }
  
  .search-bar-joinus button {
    padding: 10px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .search-bar-joinus img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(42%) sepia(56%) saturate(364%) hue-rotate(34deg) brightness(89%) contrast(92%);
  }
  
.recipes {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
    max-width: 800px;
    margin: 0 auto; 
  }
  .filter-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1.5px solid #b5cd30;
    background-color: transparent;
    color: #b5cd30;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    padding: 0;
    transition: all 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: #b5cd30;
    color: white;
  }

#lista-receitas {
  display: flex;
  width: 80%;
  align-items: center; 
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 30px;
  padding: 20px;

}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 460px;
  background-color: var(--branding-C1);
  border: 1px solid var(--branding-B1);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(33.333% - 20px); 
  box-sizing: border-box; 
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
}

.recipe-card img {
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  height: 200px;
}

.recipe-card h3 {
  font-family: "Archivo";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 15px;
  color: black;

}

.recipe-card p {
  font-size: 1rem;
  text-align:justify;
  font-family: "Archivo";
  padding: 0 10px 0 10px;
  color: black;
  margin-bottom: 20px;
  max-height: 100px;
}

.recipe-card .recipe-button {
  display: block;
  width: fit-content;
  padding: 15px 20px;
  background-color: var(--branding-A1);
  color: var(--C1-auxiliar);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 1.1rem;
  border: 1px solid var(--branding-B1);
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.recipe-card .recipe-button:hover {
  background-color: var(--branding-B1);
}


.modal-receita {
  display: none; 
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
}

.modal-title {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.modal-title h1 {
  font-size: 2.5rem;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  color: var(--branding-A1);
}

.modal-title p {
  font-size: 1.2rem;
  font-family: "Archivo", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 0;
  padding: 5px;
}

.modal-receita form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 12px;
}

.modal-receita form label {
  font-family: "Archivo", serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.modal-receita form input,
.modal-receita form textarea {
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #fffef8;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-receita form input:focus,
.modal-receita form textarea:focus {
  border-color: var(--branding-B1);
  outline: none;
  box-shadow: 0 0 5px rgba(181, 228, 140, 0.6);
}

.modal-receita.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.4s ease;
  background-color: rgba(0,0,0,0.3); 
}

.modal-receita .modal-content {
  background-color: var(--branding-C1);
  padding: 10px;
  border-radius: 20px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.3);
  transform: scale(0.8);
  transition: transform 0.4s ease;
}

.modal-receita.show .modal-content {
  transform: scale(1);
}

.modal-receita form button[type="submit"] {
  background-color: var(--branding-A1);
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: 1px solid var(--branding-B1);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.modal-receita form button[type="submit"]:hover {
  background-color: var(--branding-B1); 
}

.modal-receita form select {
  font-family: "Archivo", serif;
  font-weight: 400;
  background-color: #fffef8;
  padding: 12px;
  border: 1px solid var(--branding-B1);
  border-radius: 20px;
  margin-bottom: 10px;
}


.custom-file-upload {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--branding-B1);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: var(--branding-A1);
}

.arquivo-nome {
  margin-left: 10px;
  font-style: italic;
  color: #444;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  width: 40px;
}

.alert-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
}