.slogan {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 1700px;
    padding: 50px;
    align-items: center;
    background-color: var(--branding-A1);
    margin: 30px  auto;
    margin-bottom: 40px;
    margin-top: 80px;
    border-radius: 30px;
    justify-content: space-between;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.3);   
}

.slogan img{
    height: 170%;
    z-index:10;
}

.imagem-slogan {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-slogan h1 {
    color: beige; 
    font-size: 6em; 
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}

.imagem-slogan h2 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large; 
    font-weight: 600;
    color: beige;
    margin-top: 0;
    padding: 5px;
}

.imagem-slogan p {
    font-family: "Montserrat", sans-serif;
    font-size: large; 
    color: beige;
    margin-top: 0;
    text-align: center;
}

.recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 40px;
}

.title-recipes {
    font-size: 60px;
    font-family: "Archivo";
    font-weight: 400;
    color:var(--branding-A1);
    margin: 0;
}

.text {
  width: 80%;
  font-weight: 400;
  font-size: 1.2em;
}

.apresentation {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.button-recipes {
  
  background-color: var(--branding-A1);
  padding: 20px;
  border-radius: 50px;
  border: 2px solid var(--branding-B1);
  margin-right: 40px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s cubic-bezier(0.3, 1, 0.3, 1),
              color 0.5s cubic-bezier(0.3, 1, 0.3, 1);
}

.button-recipes:hover {
  background-color: var(--branding-B1);
}

p {
    font-size: 1.2em;
}

.button-link {
  text-decoration: none;
  color: var(--C1-auxiliar);
  font-family: "Archivo", sans-serif;
  font-size: 1.2em;
}

.carousel-container {
    position: relative;
    padding: 2rem;
    font-family: sans-serif;
  }
  
  .carousel {
    display: flex;
    scroll-behavior: unset;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    gap: 1.2rem;
    height:auto;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    transform: scale(0.8);
    opacity: 0.5;
    transition: transform 0.3s, opacity 0.3s;
    text-align: center;
  }
  
  .carousel-item img {
    width: 240px;
    border-radius: 50%;
  }
  
  .carousel-item.active {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .caption {
    margin-top: 0.5rem;
    font-family: "Archivo", sans-serif;
    font-weight: 400;

  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    background: var(--branding-C1);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 100%;
}
.about-container {
  margin-left: 40px;
}

.title-history {
    font-size: 30px;
    font-family: "Archivo";
} 

.image-container img {
    width: 800px;
}
  
.title-history h2 {
  font-size: 50px;
  color: #778899; 
  margin-bottom: 40px;
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  }
  
.text-apresentation p {
    font-size: 18px;
    width: 60%;
    font-family: "Archivo";
    line-height: 1.8;
    color: beige;
    background-color: #778899;
    padding: 20px;
    border-radius: 35px; 
}
  
  #prevBtn {
    left: 0; 
  }
  
  #nextBtn {
    right: 0;
  }

  #EatYourSalad {
    padding: 2rem;
  }
  
  .guia-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 2rem;
  }
  
  .introducion {
    max-width: 50%;
  }



  .text-title h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 300;
    color: var(--branding-A1);
    font-size: 3em;
    margin: 0;
    padding: 0;
  }

  .text-title h1 {
    font-size: 5em;
    margin-bottom: 0.2em;
  }
 
  .carousel-container2 {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 1rem;
  }
  
  .carousel-item2 {
    flex: 0 0 50%; /* Mostra 2 cards por vez (em telas maiores) */
  }
  
  .carousel-item2 .card {
    height: 200px;
    border: 1px solid #000;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branding-C1);
  }
  
  /* Responsivo para celulares */
  @media (max-width: 768px) {
    .carousel-item2 {
      flex: 0 0 100%; /* Mostra 1 card por vez */
    }
  }

  @media (max-width: 1024px) {

    .slogan {
      width: 80%;
      justify-content:space-between;
    }

    .slogan img {
        height: 550px;
        width: 550px;
    }

    .imagem-slogan h1 {
      font-size: 4em;
      text-align: center;
    }

    .imagem-slogan h2, .imagem-slogan p {
      font-size: medium; 
      text-align: center;
    }

    .button-recipes {
        padding: 18px;
        text-align: center;
    }

    .text {
        font-size: 1.2em;
    }

    .carousel-container {
      overflow: hidden;
      width: 100%;
    }
    
    .carousel {
      display: flex;
      transition: transform 0.5s ease-in-out;
      gap: 1.0rem;
    }
    
    .carousel-item {
      flex: 0 0 33.333%; /* 3 itens por vez */
      text-align: center;
      transform: scale(0.8);
      opacity: 0.5;
      transition: transform 0.3s, opacity 0.3s;
    }
    
    .carousel-item img {
      width: 100%;
      border-radius: 50%;
    }

    .carousel-button {
      display: none;
    }
    
    
    #about {
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    .about-container {
      display: flex;
      flex-direction: column;
    }
    .title-history h2 {
      font-size: 2.5em;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .text-apresentation p {
      width: 80%;
      font-size: 1.5em;
      margin-top: 20px;
    }

    .image-container  img{
      width: 90%;
      height: 90%;
      margin-bottom: 0;
    }
  }


  @media (max-width: 768px) {
    .slogan {
        flex-direction: column;
        height: auto;
        width: 80%;
        padding: 20px;
        margin: 10px auto;
        margin-bottom: 20px;
    }

    .slogan img{
        height: 680px;
        width: 680px;
    }

    .imagem-slogan h1 {
        font-size: 5em; 
    }

    .imagem-slogan h2, .imagem-slogan p {
        font-size: large; 
    }

    .recipes {
      margin-left: 0;
    }
  
    .title-recipes {
      font-size: 60px;
    }

    .apresentation {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }

    .text {
      width: 100%;
      font-size: 1.2em;
    }

    .button-recipes {
      margin-right: 0;
      padding: 20px;
      
    }
  
    .button-recipes a {
      font-size: 1.1em;
    }
  
    .carousel-container {
      margin-top: 30px;
    }
   
    .carousel-item {
        flex: 0 0 100%;  
        transform: scale(1); 
        opacity: 1;
    }
    
    .carousel-item img {
      max-width: 280px;
      max-height: 280px;
    }
  
    .carousel-item:not(.active) {
        display: none; 
    }
  
    .caption {
      font-size: 1.2em;
    }

    .carousel-button {
      display: none;
    }
    
    #about {
      flex-direction: column;
    }
  
    .about-container {
      margin-left: 25px;
    }
  
    .title-history h2 {
      font-size: 2em;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .text-apresentation p {
      width: 80%;
      font-size: 1.2em;
    }
  
    .image-container img {
      width: 600px;
      max-height:auto;
    }
  
    .guia-container {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  
    .text-title h1 {
      font-size: 4.2em;
  
    }
  
    .text-title h2 {
      font-size: 3.2em;
    }
  
    .introducion {
      max-width: 100%;
    }

    .introducion p {
      font-size: 1.2em;
    }

    .carousel-container2 {
      max-width: 60%;
      max-height: 60%;
    }

    .carousel-item2 {
      flex: 0 0 100%; /* Mostra 1 card por vez */
    }
}

@media (max-width: 480px) {
    .slogan {
        flex-direction: column;
        height: auto;
        width: 80%;
        padding: 20px;
        margin: 10px auto;
        margin-bottom: 20px;
    }

    .slogan img{
        height: 480px;
        width: 480px;
    }

    .imagem-slogan h1 {
        font-size: 3em; 
    }

    .imagem-slogan h2, .imagem-slogan p {
        font-size: medium; 
    }

    .recipes {
      margin-left: 0;
    }
  
    .title-recipes {
      font-size: 40px;
    }

    .apresentation {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }

    .text {
      width: 100%;
      font-size: 1em;
    }

    .button-recipes {
      margin-right: 0;
      padding: 18px;
      
    }
  
    .button-recipes a {
      font-size: 1em;
    }
  
    .carousel-container {
      margin-top: 30px;
    }
   
    .carousel-item {
        flex: 0 0 100%;  
        transform: scale(1); 
        opacity: 1;
    }
    
    .carousel-item img {
      max-width: 280px;
      max-height: 280px;
    }
  
    .carousel-item:not(.active) {
        display: none; 
    }
  
    .caption {
      font-size: 1em;
    }
    .carousel-button {
      display: none;
    }
    
    #about {
      flex-direction: column;
    }
  
    .about-container {
      margin-left: 25px;
    }
  
    .title-history h2 {
      font-size: 1em;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .text-apresentation p {
      width: 80%;
      font-size: 0.9em;
    }
  
    .image-container img {
      width: 350px;
      max-height:350px;
    }
  
    .guia-container {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  
    .text-title h1 {
      font-size: 4em;
  
    }
  
    .text-title h2 {
      font-size: 3em;
    }
  
    .introducion {
      max-width: 100%;
      
    }
}

@media (max-width: 375px) {
  .slogan {
    width: 80%;
    padding: 16px;
  }

  .slogan h1 {
    font-size: 2.4em;
  }

  .slogan img {
    height: 380px;
    max-width: 380px;
    margin:0;
  }

  .recipes {
    margin-left: 0;
  }

  .title-recipes {
    font-size: 40px;
  }

  .apresentation {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .text {
    width: 100%;
    font-size: 1em;
  }

  .button-recipes {
    margin-right: 0;
    padding: 18px;
    
  }

  .button-recipes a {
    font-size: 1em;
  }

  .carousel-container {
    margin-top: 30px;
  }
 
  .carousel-item {
      flex: 0 0 100%;  
      transform: scale(1); 
      opacity: 1;
  }
  
  .carousel-item img {
    max-width: 280px;
    max-height: 280px;
  }

  .carousel-item:not(.active) {
      display: none; 
  }

  .caption {
    font-size: 1em;
  }
  .carousel-button {
    display: none;
  }
  
  #about {
    flex-direction: column;
  }

  .about-container {
    margin-left: 25px;
  }

  .title-history h2 {
    font-size: 1em;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text-apresentation p {
    width: 80%;
    font-size: 0.9em;
  }

  .image-container img {
    width: 350px;
    max-height:350px;
  }

  .guia-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .text-title h1 {
    font-size: 4em;

  }

  .text-title h2 {
    font-size: 3em;
  }

  .introducion {
    max-width: 100%;
    
  }
}