.perfil-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px); 
}

.perfil-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--branding-B1);
  Width: 220px;
  height: 100%;
  padding: 20px;
  gap: 12px;
  border-right: 1px solid #ddd;
  border-radius: 20px;
  margin: 20px;
}

.sidebar-button {
  background-color: #F6F4F4;
  border: none;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  transition: background-color 0.2s;
}

.sidebar-button:hover {
  background-color: #e0eac2;
}

.perfil-content {
  flex-grow: 1;
  margin: 20px;
  background-color: var(--B1-auxiliar);
  overflow-y: auto;
  border-radius: 20px;
  height: 100%;
}

.perfil-header  h2{
    margin: 25px;
    font-family: "Archivo", serif;
    font-size: 1.5em;
    font-weight: 400;
}

.card-perfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background-color: #F6F4F4;
    border-radius: 20px;
    margin-left: 20px;
    width: 500px;
    height: auto;
}

.card-perfil p {
    font-family: "Archivo", serif;
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px 0;
}

.perfil-dado {
    font-family: "Archivo", serif;
    background-color: var(--B1-auxiliar);
    padding: 12px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px 0;
    align-self: flex-start;
}

.perfil-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;
}

.perfil-editar {
    border: none;
    background-color: transparent;
}

.perfil-editar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.card-perfil {
  position: relative;
}

.button-space {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}

.perfil-sair, .perfil-excluir {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background 0.2s;
}

.perfil-sair:hover, .perfil-excluir:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card-lista-receitas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

.recipe-card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #F6F4F4;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(100% - 1000px);
}

.recipe-card h3 {
    font-family: "Archivo", serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

.editar-e-sair {
    display: flex;
    position: absolute;
    cursor: pointer;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    top: 10px;
    right: 10px;
}

.excluir-receita {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    padding: 4px;
    border-radius: 6px;
}

.excluir-receita:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.editar-receita {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    padding: 4px;
    border-radius: 6px;
}

.editar-receita:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#confirm-modal.confirm-hidden {
  display: none;
}

#confirm-modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirm-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--branding-C1);
  border: none;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 200px;
}

.confirm-box p {
    font-family: "Archivo", serif;
    font-size: 1.4em;
    margin-bottom: 50px;
}

.confirm-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.confirm-buttons button {
  padding: 18px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: "Archivo", sans-serif;
}

#confirm-yes {
  font-family: "Archivo", serif;
  font-size: 1.2em;
  background-color: var(--branding-B1);
  color: white;
}

#confirm-yes:hover {
  background-color: #667482;
}

#confirm-no {
  font-family: "Archivo", serif;
  font-size: 1.2em;
  background-color: #ccc;
  color: black;
}

#confirm-no:hover {
  background-color: #bbb;
}

.modal-edicao {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--branding-C1);
  padding: 20px;
  border-radius: 20px;
  min-width: 400px;
}

.oculto {
  display: none;
}

.modal-conteudo h3 {
    font-family: "Archivo", serif;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.modal-conteudo input[type="text"],
.modal-conteudo input[type="password"] {
  width: 90%;
  padding: 15px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: "Archivo", serif;
  transition: border-color 0.3s ease;
}

.modal-conteudo input:focus {
  border: 2px solid #6c8294; 
  outline: none; 
}

.modal-conteudo button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--branding-B1);
    color: white;
    cursor: pointer;
    font-family: "Archivo", serif;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

.modal-conteudo #cancelar-edicao {
    background-color: #ccc;
    color: black;
}

.modal-botoes {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

#grupo-input-unico {
  width: 100%;

}